class factorial
 {  
   public static void main(String args[])
   {  
     int i,f=1;  
     int n=5;  
        for(i=1;i<=n;i++)
        {    
           f=f*i;    
        }    
    System.out.println("factorial of "+n+" is:"+f);    
   }  
}  
